html {
  background-color: whitesmoke;
}

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00ffbf;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

header {
  text-shadow: 1px 1px 0 #444;
  text-align: center;
  padding: 20px 0 20px 0;
}

.content-area {
  text-shadow: 1px 1px 0 #00ffbf;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.main-content {
  float: left;
  width: 66%;
  padding-right: 40px;
  box-sizing: border-box;
}

.sidebar {
  float: left;
  width: 34%;
}

footer {
  text-align: center;
  padding: 40px 0 40px 0;
}

.fix:before,
.fix:after {
  content: "";
  display: table;
}

.fix:after {
  clear: both;
}

.fix {
  zoom: 1;
}
